p {
	font-family: "Georgia", Serif;
	font-style: normal;
	font-size: 24px;
}

body {
	color: #20b2aa;
	background-color: White;
}

h1 {
	border-style: dotted;
	border-width: 10px 5px 10px 5px;
	border-color: #20b2aa;
}

ul {
	margin: 0;
	padding: 14px 16px;
	list-style-type: none;
	overflow: hidden;
}

li {
	display: inline;
}
